:root {
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
  --dark-background-color: #2F303A;
  --light-background-color: #F5F4FA;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hidden {
  position: fixed;
  transform: scale(0);
}

.navigation .current {
  color: var(--accent-color);
}
/* header */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.additional-logo-color {
  color: var(--main-text-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.header-contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts-list-link:hover,
.header-contacts-list-link:focus {
  color: var(--accent-color);
}

/* end-header */

/* hero */

.hero{
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
}

/* end-hero */

/* about-us */

.about-us-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us-list-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* end-about-us */

/* our-work */

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* end-our-work */

/* our-team */

.our-team {
  background-color: var(--light-background-color);
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* end-our-team */

/* footer */

.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.additional-footer-logo-color {
  color: var(--secondary-accent-color);
}

.footer-adress-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}

.footer-adress-list-link:hover,
.footer-adress-list-link:focus {
  color: var(--secondary-accent-color);
}

/* end-footer */

/* portfolio */

.filter-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #F5F4FA;
  
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* portfolio-end */
